html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.banner{
    max-height: 2vh;
    max-width: 2vw;
}

.d-block w-100{
    height: 200vh;
}

#cardsTops{
    display:flex;
    gap: 4vw;
    justify-content: center;
}

btnbtn-primary{
    background-color: purple;
}

.navbar0{
    background-color: cornflowerblue;
    color: yellow;
}

a, h1{
    color: black;
}


.batata {
    display: flex;
    justify-content: center;
}
.list-group{
    padding-top: 2vh;
    width: 30vw;
}

#texto2{
    font-size: 1rem;
 margin-top: 50px
}

.historia {
    text-align: center;
    margin-top: 50px
}

.containerlogin {
    justify-content: center;
        display:flex;
      
}



.quadrado {
   width:1000px;
   height:800px;
   background-color: dimgrey;
      margin-top: 50px;
          border-radius: 5px;
          border: solid black;
}


.login h1{
    margin-top: 40px;
   display:flex;
   justify-content: center;
}
.form {
  
   
}