html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.banner{
    max-height: 2vh;
    max-width: 2vw;
}

.d-block w-100{
    height: 200vh;
}

#cardsTops{
    display:flex;
    gap: 4vw;
    justify-content: center;
}

btnbtn-primary{
    background-color: purple;
}

.navbar0{
    background-color: cornflowerblue;
    color: yellow;
}

a, h1{
    color: black;
}

.list-group{
    padding-top: 2vh;
    width: 30vw;
}




.containerlogin {
    justify-content: center;
        display:flex;
      
}



.quadrado {
   width:1000px;
   height:800px;
   background-color: skyblue ;
      margin-top: 50px;
          border-radius: 5px;
          border: solid black;
}


.login h1{
    margin-top: 40px;
   display:flex;
   justify-content: center;
}
.texto2 {
    max-width: 1000px;
    margin-top: 30px
}

.containerhistoria {
    display: flex;
    flex-direction: column; /* coloca um embaixo do outro */
    align-items: center; /* centraliza horizontalmente */
    justify-content: center; /* opcional: centraliza verticalmente */
}

.img {
    height: 500px;
    width: 1100px;
}
.botaopqp {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.btnhehe {
    background-color: antiquewhite;
    height: 100px;
    width: 200px;
   
}

.batata {
    display:flex;
    justify-content:center;
}

.historia {
    margin-top: 40px;
}

#batatas{
    background-color: cornflowerblue;
    color: black;
    margin-bottom: 3vh;
}